venv_conv/*
CONVERTER/src/com/jalasoft/converter/git.pdf
CONVERTER/src/com/jalasoft/converter/pruebas.py
CONVERTER/src/com/jalasoft/converter/navidad.mp3
CONVERTER/src/com/jalasoft/converter/navi4.mp3
CONVERTER/src/com/jalasoft/converter/navidad44.mp3
CONVERTER/src/com/jalasoft/converter/rick.png
CONVERTER/src/com/jalasoft/converter/Rickand.png
CONVERTER/src/com/jalasoft/converter/RickandMorty.jpg
CONVERTER/src/com/jalasoft/converter/RickandMorty.png
CONVERTER/src/com/jalasoft/converter/video.mp4
CONVERTER/src/com/jalasoft/converter/file_example_MP4_1920_18MG.mp4
CONVERTER/src/com/jalasoft/converter/factory.py
CONVERTER/src/com/jalasoft/converter/__pycache__/
CONVERTER/src/com/jalasoft/converter/model/__pycache__/
CONVERTER/src/com/jalasoft/converter/model/audio/__pycache__/
CONVERTER/src/com/jalasoft/converter/model/image/__pycache__/
CONVERTER/src/com/jalasoft/converter/model/telma.wav
CONVERTER/src/com/jalasoft/converter/model/video/__pycache__/
CONVERTER/src/com/jalasoft/converter/flip1.jpg
